button {
	display: inline-block;
	width: 80px;
	margin-bottom: 0;
	cursor: pointer;
	border: 1px solid transparent;
	line-height: 1.42;
	border-radius: 4px;
}

.dropdown-btn {
	border-color: #484848;
}

.dropdown-btn:focus {
	color: #ffffff;
	background-color: #666;
	outline: none;
}

.dropdown-btn:hover {
	color: #ffffff;
	background-color: #666;
}

.dropdown-btn .caret {
	margin-left: 5px;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.dropdown-btn.disabled {
	cursor: not-allowed;
	opacity: 0.65;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.dropdown {
	display: inline-block;
	position: relative;	
}

.dropdown-menu {
	display: none;
	position: absolute;
	z-index: 1000;
	width: max-content;
	max-height: 300px;
	overflow: auto;
	padding: 5px 0px 5px 0px;
	margin: 1px 0 0;
	text-align: left;
	list-style: none;
	background-color: #ffffff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
	-ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dropdown-menu::-webkit-scrollbar {
    display: none;
}

.dropdown-menu .divider {
	height: 1px;
	margin: 5px 0;
	overflow: hidden;
	background-color: #ccc;
}

.dropdown-menu > .disabled,
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42;
	color: #555;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li.active {
	color: #333;
	text-decoration: none;
	background-color: #f5f5f5;
}

.dropdown-menu > .disabled,
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover {
	color: #aaa;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover {
	cursor: not-allowed;
}

.open > .dropdown-menu {
	display: block;
}

.open > a {
	outline: 0;
}
