.main {
    padding: 20px;
}

.top_panel,
.bottom_panel {
    width: 50%;
    clear: both;
    text-align: center;
    min-width: 650px;
}

.title_panel {
    float: left;
    font-size: 30px;
}

.searchtext_panel {
    display: inline-block;
    padding: 4px 0px 0px 0px;
}

.actions_panel,
.message_panel,
.empty_panel,
.logout_panel {
    float: right;
    padding: 8px 10px 0px 0px;
}

.actions_panel_separator {
    padding: 0px 5px 0px 5px;
}

.loggedin_user { 
    font-weight: bold;
    padding: 0px 0px 0px 5px;
}

.found_movies {
    clear: both;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

a {
    background: transparent;
    color: deepskyblue;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

.register_link {
    background-color: deepskyblue;
    border-radius: 10px;
    padding: 5px;
}

.register_link:hover {
    background-color: darkblue;
}

.register_link a, 
.register_link a:hover {
    color: #ffffff;
}

input[id=searchtext] {
    width: 300px;
    height: 23px;
    border: 1px solid #484848;
    border-radius: 3px;
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    width: 80px;
    height: 80px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }