.movie_container {  display: flex; }
.movie_list, .movie_actions { flex: 1; }
.movie_list { margin-right: 20px; }
.movie_data { margin-bottom: 5px; padding: 5px; border: 1px solid; background-color: #eee; }
.movie_add { margin-bottom: 10px; }
.movie_sort { text-align: center; border: 1px solid; padding: 5px; width: fit-content; background-color: #eee; }

.votes_container { padding-bottom: 10px; }
.votes { padding: 5px; }
.vote_link { padding: 5px; }
