.movie_container {  
    display: flex; 
}

.movie_list, .movie_actions { 
    flex: 1; 
}

.movie_actions {
    padding-left: 10px;
}

.movie_list { 
    margin-right: 20px; 
}

.movie_data { 
    display: inline-block;
    margin-bottom: 5px; 
    padding: 10px; 
    border: 1px solid; 
    border-radius: 5px;
    background-color: #eee;
    width: 100%;
}

.movie_header,
.movie_content,
.movie_footer,
.movie_actions_per_movie {
    clear: both;
}

.movie_header,
.movie_footer {
    line-height: 30px;
}

.movie_content {
    padding: 10px 0 10px 0;
    overflow: auto;
    max-height: 300px;
}

.movie_footer {
    text-align: center;
}

.movie_actions_per_movie {
    text-align: right;
    padding-top: 10px;
}

.movie_title {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.movie_posted,
.movie_posted_by {
    float: right;
    font-size: 20px;
}

.movie_votes_num {
    float: left;
}

.movie_votes_btn {
    display: inline-block;
}

.movie_posted_by_user { 
    color: deepskyblue; 
}

.movie_add { 
    margin-bottom: 10px; 
}

#new_movie {
    background-color: limegreen;
    color: #ffffff;
    cursor: pointer;
}

#new_movie:hover {
    background-color: green;
    color: #ffffff;
}

.movie_sort { 
    text-align: center; 
    border: 1px solid; 
    border-radius: 5px;
    margin-left: 9px;
    padding: 5px; 
    width: fit-content; 
    background-color: #eee; 
}

.like_votes,
.like_btn { 
    padding-right: 5px; 
}

.like_votes {
    float: left;
}

.hate_votes,
.hate_btn {
    padding-left: 5px;
}

.hate_votes {
    float: right;
}

.like_votes_text:hover,
.hate_votes_text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.liked {
    color: green;
}

.hated {
    color: red;
}

.users_list {
    display: none;
    border: 1px solid;
    z-index: 1000;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    max-width: 150px;
    overflow: auto;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
}

.users_list_ul {
    padding: 0px 10px 0px 10px;
    line-height: 25px;
}

.users_list_li {
    list-style: none;
}

.like_btn a:hover, 
.hate_btn a:hover,
.sort_btn a:hover {
    color: darkblue;
}

.movie_voted {    
    background-color: deepskyblue;
    border-radius: 10px;
    padding: 5px;
}

.movie_voted a{    
    color: #ffffff;
}

