.found_movies {
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

.movie_container {  
    margin: 112px 342px 62px 342px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.movie_actions {
    padding: 0px 0px 0px 10px;
}

.movie_data { 
    display: grid;
    margin: 0px 0px 5px 0px; 
    padding: 10px; 
    border: 1px solid; 
    border-radius: 5px;
    background-color: #ffffff;
}

.movie_data_top,
.movie_data_middle,
.movie_data_bottom,
.movie_data_actions {
    clear: both;
}

.movie_data_top,
.movie_data_bottom {
    line-height: 30px;
}

.movie_data_middle {
    padding: 10px 0px 10px 0px;
}

.movie_data_bottom {
    text-align: center;
}

.movie_num_container {
    float: left;
    width: 33%;
}

.movie_btn_container {
    display: inline-block;
    width: 33%;
}

.movie_data_actions {
    text-align: right;
    padding: 10px 0px 0px 0px;
}

.movie_title {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.movie_posted,
.movie_posted_by {
    float: right;
    font-size: 20px;
    width: 33%;
    text-align: right;
}

.movie_votes_num,
.movie_comments_num {
    float: left;
}

.movie_votes_btn,
.movie_comment_btn {
    display: inline-block;
}

.movie_posted_by_user { 
    color: deepskyblue; 
}

.num_separator,
.btn_separator {    
    float: inherit;
}

.num_separator {    
    padding: 0px 5px 0px 5px; 
}

.movie_likes {
    float: left;
}

.movie_hates,
.movie_comments {
    float: right;
}

.movie_likes_text:hover,
.movie_hates_text:hover,
.movie_comments_text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.liked {
    color: green;
}

.hated {
    color: red;
}

.items_list {
    display: none;
    border: 1px solid;
    z-index: 1001;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    line-height: 25px;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
}

table.list {
    background-color: transparent;
    _border-collapse: collapse;
    border-spacing: 0;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

table.list th {
    background: #f6f6f6;
    color: deepskyblue;
    height: auto;
    padding: 0px 0px 0px 3px;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 0.66em 0;
    text-align: left;
    vertical-align: top;
    padding: 0.4em 0.5em 0.2em 0.5em;
    white-space: nowrap;
}

table.list tr.even {
    background-color: #ffffff;
    color: #333;
}

table.list tr.odd {
    background-color: #f8f8f8;
    color: #333;
}

table.list tr.even:hover, 
table.list tr.odd:hover {
    background-color: #e0e0d8;
    color: #333;
}

table.list td {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
    vertical-align: middle;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin: 0;
}

table.list td.single_item {
    border: none;
}

.like_btn span, 
.hate_btn span {
    padding: 5px;
}

.like_btn a:hover, 
.hate_btn a:hover {
    color: darkblue;
}

.comment_btn {
    float: right;
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin: 8px 0px 0px 10px;
    background-image: url('/images/comment-deepskyblue.png');
}

.comment_btn:hover {
    background-image: url('/images/comment-darkblue.png');
}

.movie_voted {    
    background-color: deepskyblue;
    border-radius: 10px;
    padding: 5px;
}

.movie_voted a {    
    color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.items_list::-webkit-scrollbar {    
    display: none;
}
