RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{CONN_REMOTE_ADDR} !127.0.0.1
RewriteCond %{CONN_REMOTE_ADDR} !::1
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
